<!--
  OhanaChica: Moyo F., Suhana K., Jessica Y., Michelle Z.
  SoftDev
  P05: Astrology
  2025-06-06
  Time Spent: ???? hours
-->

<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/static/styles.css" rel="stylesheet">
      <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
      <title> Home </title>
    </head>
  <body>
    <!-- nav -->
    {% extends 'base.html' %}
    {% block content %}
    <center>
      <br><br>
      <br><br>
      <br><br>
        <h1 class="text-4xl font-medium text-gray-800">Welcome to Astrology App</h1>
        <p class="font-medium text-gray-800">Please <a href="/login.html" class="no-underline hover:underline">login</a> or <a href="/register.html" class="no-underline hover:underline">register</a> to access your personalized astrology readings.</p>
      </center>
  </body>
</html>
